<div class="w-64 h-screen border-e border-gray-100 bg-transparent transform transition-all duration-300 ease-in-out">
  <nav class="p-4">
    <div class="px-4 py-3 border-b border-gray-200">
      <h2 class="text-lg font-semibold text-gray-800">
        {{ parentLabel }}
      </h2>
    </div>

    <ul class="space-y-2">
      @for(item of menuItems; track item.label) {
        <li>
          <a
            [routerLink]="[item.link]"
            (click)="onItemClick(item)"
            class="flex items-center gap-3 rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-50 hover:text-gray-700"
          >
            <lucide-icon
              [name]="item.icon"
              class="size-5"
            ></lucide-icon>
            <span class="text-sm font-medium">{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</div>
