<form
    [formGroup]="form()"
    class="space-y-4"
>
    <div class="grid">
        <label
            for="cityName"
            class="block text-sm font-medium text-gray-700"
        >
            Nom*
        </label>

        <input
            id="cityName"
            type="text"
            formControlName="cityName"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>

    <div class="grid">
        <label
            for="postalCode"
            class="block text-sm font-medium text-gray-700"
        >
            Code postal*
        </label>

        <input
            id="postalCode"
            type="text"
            formControlName="postalCode"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>

    <div class="grid">
        <label for="country"
               class="block text-sm font-medium text-gray-700"
        >
            Pays*
        </label>
        <select
            id="country"
            formControlName="countryId"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        >
            @for (country of countries(); track country.id) {
                <option [ngValue]="country.id">
                    {{ country.countryCode }} - {{ country.countryName }}
                </option>
            }
        </select>
    </div>
</form>
