<header>
    <div class="container">
      <div class="logo">
        <a routerLink="/">BeCo</a>
      </div>
      <nav>
        <a routerLink="/home" routerLinkActive="active">Accueil</a>
        <a routerLink="/about" routerLinkActive="active">Commande</a>
        <a routerLink="/contact" routerLinkActive="active">Planning</a>
      </nav>
      <div class="actions">
        <button (click)="onLogin()">Login</button>
        <button (click)="onSignup()">Sign Up</button>
      </div>
    </div>
  </header>
  