<nav class="sidebar">
  <ul>
    <li><a (click)= "onCustomerClick()"><img class="logo" src="assets/poignee-main.png" alt="logo" class="icon-1"></a></li>
    <li><a href="#"><img class="logo" src="assets/cone-chantier.png" alt="logo" class="icon-2"></a></li>
    <li><a href="#"><img class="logo" src="assets/usine.png" alt="logo" class="icon-3"></a></li>
    <li><a href="#"><img class="logo" src="assets/autoroute.png" alt="logo" class="icon-4"></a></li>
    <li><a href="#"><img class="logo" src="assets/geolocalisation.png" alt="logo" class="icon-5"></a></li>
    <li><a href="#"><img class="logo" src="assets/feu-circulation.png" alt="logo" class="icon-6"></a></li>
  </ul>
</nav>
