
<h2>Liste des contacts <button class="add" (click)="showAddContactForm = !showAddContactForm">+</button></h2>

<div *ngIf="contacts.length > 0">
  <div *ngIf="showAddContactForm">
    <h3>Ajouter un contact</h3>
    <form (ngSubmit)="addContact()">
      <label for="lastName">Nom:</label>
      <input type="text" id="lastName" [(ngModel)]="newContact.lastName" name="lastName" required>

      <label for="firstName">Prénom:</label>
      <input type="text" id="firstName" [(ngModel)]="newContact.firstName" name="firstName" required>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="newContact.email" name="email" required>

      <label for="phone">Téléphone:</label>
      <input type="text" id="phone" [(ngModel)]="newContact.phone" name="phone" required>

      <label for="role">Rôle:</label>
      <input type="text" id="role" [(ngModel)]="newContact.role" name="role" required>

      <button type="submit">Ajouter</button>
    </form>
  </div>

  <ul>
    <li *ngFor="let contact of contacts" (click)="toggleSelectedContact(contact.contactId)" [class.selected]="selectedContactId === contact.contactId">
      {{ contact.lastName }} {{ contact.firstName }} - {{ contact.role }}
      <div *ngIf="selectedContactId === contact.contactId && selectedContact" class="contact-details">
        <p><strong>Email:</strong> {{ selectedContact.email }}</p>
        <p><strong>Téléphone:</strong> {{ selectedContact.phone }}</p>
        <button class="edit" (click)="editContact(selectedContactId, contact); $event.stopPropagation()">Edit</button>
        <button class="delete" (click)="deleteContact(contact.contactId); $event.stopPropagation()">Delete</button>

        <!-- Formulaire d'édition -->
        <div *ngIf="selectedContactId && selectedContact" class="edit-contact-form">
          <h3>Modifier le contact</h3>
          <!-- L'événement ngSubmit envoie les données via la méthode 'editContact' -->
          <form (ngSubmit)="editContact(selectedContactId,selectedContact)" #editForm="ngForm">
            <div>
              <label for="lastName">Nom :</label>
              <input
                id="lastName"
                [(ngModel)]="selectedContact.lastName"
                name="lastName"
                required
              />
            </div>
            <div>
              <label for="firstName">Prénom :</label>
              <input
                id="firstName"
                [(ngModel)]="selectedContact.firstName"
                name="firstName"
                required
              />
            </div>
            <div>
              <label for="email">Email :</label>
              <input
                id="email"
                [(ngModel)]="selectedContact.email"
                name="email"
                type="email"
                required
              />
            </div>
            <div>
              <label for="phone">Téléphone :</label>
              <input id="phone" [(ngModel)]="selectedContact.phone" name="phone" type="tel" />
            </div>
            <div>
              <label for="role">Rôle :</label>
              <input id="role" [(ngModel)]="selectedContact.role" name="role" />
            </div>

            <!-- Boutons pour soumettre ou annuler -->
            <button type="submit" [disabled]="editForm.invalid">Modifier</button>
            <button type="button" (click)="resetSelectedContact()">Annuler</button>
          </form>
        </div>

      </div>
    </li>
  </ul>
</div>
