<header>
    <div class="container">

      <div class="logo">
        <a routerLink="/">BeCo</a>
      </div>

      <nav>
        <a routerLink="/dashboard" routerLinkActive="active">Accueil</a>
        <a routerLink="/order" routerLinkActive="active">Commande</a>
        <a routerLink="/planning" routerLinkActive="active">Planning</a>
      </nav>

      <div class="actions">
        <button (click)="onLogin()">Login</button>
        <button (click)="onSignUp()">Sign Up</button>
      </div>

    </div>
  </header>
