<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">

        <div class="relative lg:row-span-2">
            <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-4xl"></div>

            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
                <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                    <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">
                        Chantiers
                    </p>

                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
                        Module de gestion des chantiers. Créer, Modifier, Supprimer des chantiers.
                    </p>
                </div>

                <div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
                    <i-lucide [img]="iconsList.TrafficCone" class="size-30 text-blue-700 opacity-75 "></i-lucide>
                </div>
            </div>

            <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-l-4xl"></div>
        </div>

        <div class="relative max-lg:row-start-1">
            <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-4xl"></div>

            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">

                <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                    <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">
                        Planification
                    </p>

                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
                        Module de gestion des planifications. Affecter des transporteurs aux commandes.
                    </p>
                </div>

                <div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
                    <i-lucide [img]="iconsList.Truck" class="size-30 text-blue-700 opacity-75 "></i-lucide>
                </div>
            </div>

            <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 max-lg:rounded-t-4xl"></div>
        </div>

        <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
            <div class="absolute inset-px rounded-lg bg-white"></div>

            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
                <div class="px-8 pt-8 sm:px-10 sm:pt-10">
                    <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">
                        Rapport
                    </p>

                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
                        Module de gestion des rapports. Visualiser les statistiques de livraisons.
                    </p>
                </div>

                <div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
                    <i-lucide [img]="iconsList.ChartLine" class="size-30 text-blue-700 opacity-75 "></i-lucide>
                </div>
            </div>

            <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
        </div>

        <div class="relative lg:row-span-2">
            <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-4xl lg:rounded-r-4xl"></div>

            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">

                <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                    <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">
                        Commande
                    </p>

                    <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">
                        Module de gestion des commandes. Créer, Modifier, Supprimer des commandes.
                    </p>
                </div>

                <div class="flex flex-1 items-center justify-center px-8 max-lg:pt-10 max-lg:pb-12 sm:px-10 lg:pb-2">
                    <i-lucide [img]="iconsList.CirclePlus" class="size-30 text-blue-700 opacity-75 "></i-lucide>
                </div>
            </div>

            <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 max-lg:rounded-b-4xl lg:rounded-r-4xl"></div>
        </div>
    </div>
</div>
