<div class="flex-1 h-screen overflow-y-auto">
    <div class="flex-1 px-2">
        <div class="sm:mx-auto sm:w-full">
            <h2 class="flex items-center justify-center gap-2 text-2xl font-bold tracking-tight text-gray-900">
                <i-lucide [img]="iconHeader" class="size-8"></i-lucide>

                {{ labelHeader }}
            </h2>
        </div>

        <div class="mt-6 flex-1">
            <form
                [formGroup]="form"
                (ngSubmit)="create()"
            >
                <div class="space-y-4">
                    <div class="grid grid-cols-3 gap-4">
                        <label
                            for="countryName"
                            class="block text-sm font-medium text-gray-700"
                        >
                            Nom
                        </label>

                        <input
                            id="countryName"
                            type="text"
                            formControlName="countryName"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
                        >
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label
                            for="countryCode"
                            class="block text-sm font-medium text-gray-700"
                        >
                            Code
                        </label>

                        <input
                            id="countryCode"
                            type="text"
                            formControlName="countryCode"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
                        >
                    </div>
                </div>

                <div class="flex justify-end">
                    <app-submit-button [disabled]="form.invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>
