<configuration>

    <!-- Définir le niveau par défaut -->
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Appender console (afficher les logs dans le terminal) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender fichier (écrire les logs dans un fichier avec la date dans le nom) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Utiliser uniquement le modèle qui inclut la date -->
            <fileNamePattern>./api/logs/api-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Conserver les fichiers pendant 30 jours -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuration de logs spécifiques -->
    <logger name="com.demo_intellij" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.springframework" level="WARN" />

</configuration>