<app-header-form [iconHeader]="iconHeader" [labelHeader]="labelHeader"/>
<div class="mt-6 flex-1">
  <form [formGroup]="form" (ngSubmit)="create()">
    <div class="border border-slate-200 divide-y divide-slate-200 rounded-none">
      <app-section-fom [sectionForm]="sections.company">
        <ng-container slot="content">
          <label for="company" class="block text-sm font-medium text-slate-700">
            Fournisseur
          </label>
          <select
            id="company"
            formControlName="companyId"
            class="mt-1 block w-full bg-white px-3 py-2 text-sm text-slate-900 border border-slate-300 outline-none focus:ring-4 focus:ring-indigo-200 focus:border-indigo-400 transition"
          >
            <option [ngValue]="null"></option>
            @for (company of companies(); track company.id) {
              <option [ngValue]="company.id">
                {{ company.companyName }} {{ company.cityName }} ({{ company.postalCode }}) - {{ company.countryCode }}
              </option>
            }
          </select>
        </ng-container>
      </app-section-fom>

      <app-section-fom [sectionForm]="sections.address">
        <ng-container slot="content">
          <label for="address" class="block text-sm font-medium text-slate-700">
            Adresse de chargement
          </label>
          <select
            id="address"
            formControlName="addressId"
            class="mt-1 block w-full bg-white px-3 py-2 text-sm text-slate-900 border border-slate-300 outline-none focus:ring-4 focus:ring-indigo-200 focus:border-indigo-400 transition"
          >
            <option [ngValue]="null"></option>
            @for (address of addresses(); track address.id) {
              <option [ngValue]="address.id">
                {{ address.cityName }} ({{ address.postalCode }}) - {{ address.countryCode }}
              </option>
            }
          </select>
        </ng-container>
      </app-section-fom>

      <app-section-fom
        [sectionForm]="sections.contact"
        (createConfig)="onSectionCreateModeChange($event)"
      >
        <ng-container slot="isNew">
          <app-contact-form [form]="contactGroup"/>
        </ng-container>
        <ng-container slot="content">
          <label for="contact" class="block text-sm font-medium text-slate-700">
            Contact
          </label>
          <select
            id="contact"
            formControlName="contactId"
            class="mt-1 block w-full bg-white px-3 py-2 text-sm text-slate-900 border border-slate-300 outline-none focus:ring-4 focus:ring-indigo-200 focus:border-indigo-400 transition"
          >
            <option [ngValue]="null"></option>
            @for (contact of contacts(); track contact.id) {
              <option [ngValue]="contact.id">
                {{ contact.firstName }} {{ contact.role }}
              </option>
            }
          </select>
        </ng-container>
      </app-section-fom>

      <app-section-fom
        [sectionForm]="sections.sharedDetails"
        (createConfig)="onSectionCreateModeChange($event)"
      >
        <ng-container slot="isNew">
          <app-shared-details-form [form]="sharedDetailsGroup"/>
        </ng-container>
        <ng-container slot="content">
          <label for="sharedDetail" class="block text-sm font-medium text-slate-700">
            Détails
          </label>
          <select
            id="sharedDetail"
            formControlName="sharedDetailsId"
            class="mt-1 block w-full bg-white px-3 py-2 text-sm text-slate-900 border border-slate-300 outline-none focus:ring-4 focus:ring-indigo-200 focus:border-indigo-400 transition"
          >
            <option [ngValue]="null"></option>
            @for (sharedDetail of sharedDetails(); track sharedDetail.id) {
              <option [ngValue]="sharedDetail.id">
                {{ sharedDetail.label }}
              </option>
            }
          </select>
        </ng-container>
      </app-section-fom>
    </div>

    <div class="flex justify-end">
      <app-submit-button [disabled]="form.invalid"/>
    </div>
  </form>
</div>
