<div class="flex-1 h-screen overflow-y-auto">
    <div class="flex-1 px-2">
        <div class="sm:mx-auto sm:w-full">
            <h2 class="flex items-center justify-center gap-2 text-2xl font-bold tracking-tight text-gray-900">
                <i-lucide [img]="iconHeader" class="size-8"></i-lucide>
                {{ labelHeader }}
            </h2>
        </div>

        <div class="mt-6 flex-1">
            <form
                [formGroup]="form"
                (ngSubmit)="create()"
            >
                <div class="space-y-4">

                    <div class="grid grid-cols-3 gap-4">
                        <label for="uniqueDeliveryOrderNumber" class="block text-sm font-medium text-gray-700">
                            Numéro de chargement
                        </label>
                        <input
                            type="text"
                            id="uniqueDeliveryOrderNumber"
                            formControlName="uniqueDeliveryOrderNumber"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="customer" class="block text-sm font-medium text-gray-700">
                            Client
                        </label>
                        <select
                            id="customer"
                            formControlName="customerId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (customer of customers; track customer.id) {
                                <option [ngValue]="customer.id">
                                    {{ customer.companyName }} {{ customer.cityName }} ({{ customer.postalCode }}) - {{ customer.countryCode }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="transportSupplier" class="block text-sm font-medium text-gray-700">
                            Transporteur
                        </label>
                        <select
                            id="transportSupplier"
                            formControlName="transportSupplierId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (transportSupplier of transportSuppliers; track transportSupplier.id) {
                                <option [ngValue]="transportSupplier.id">
                                    {{ transportSupplier.companyName }} {{ transportSupplier.cityName }} ({{ transportSupplier.postalCode }}) - {{ transportSupplier.countryCode }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="city" class="block text-sm font-medium text-gray-700">
                            Ville
                        </label>
                        <select
                            id="city"
                            formControlName="cityId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (city of cities; track city.id) {
                                <option [ngValue]="city.id">
                                    {{ city.cityName }} ({{ city.postalCode }}) - {{ city.countryCode }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="product" class="block text-sm font-medium text-gray-700">
                            Produit
                        </label>
                        <select
                            id="product"
                            formControlName="productId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (product of products; track product.id) {
                                <option [ngValue]="product.id">
                                    {{ product.code }} - {{ product.name }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="flex justify-end">
                        <app-submit-button [disabled]="form.invalid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
