

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
      Mot de passe oublié ?
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div *ngIf="successMessage" class="p-2 text-green-800 bg-green-100 mb-4 rounded-md">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="p-2 text-red-800 bg-red-100 mb-4 rounded-md">
      {{ errorMessage }}
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="sendEmail()"
      class="space-y-6"
    >
      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-900">
          Email
        </label>
        <div class="mt-2">
          <input
            type="email"
            id="email"
            formControlName="email"
            autocomplete="email"
            placeholder="email@example.com"
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
          />
          <div
            *ngIf="form.controls.email?.invalid && form.controls.email?.touched"
            class="text-red-500 text-xs mt-1"
          >
            <span *ngIf="form.controls.email?.errors?.['required']">L'email est requis.</span>
            <span *ngIf="form.controls.email?.errors?.['email']">L'email n'est pas valide.</span>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="form.invalid"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Envoyer
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-500">
      Revenir à
      <a [routerLink]="['/']" class="font-semibold text-indigo-600 hover:text-indigo-500">
        la connexion
      </a>
    </p>
  </div>
</div>
