<form
    [formGroup]="form()"
    class="space-y-4"
>
    <div class="grid">
        <label
            for="firstName"
            class="block text-sm font-medium text-gray-700"
        >
            Prénom*
        </label>

        <input
            id="firstName"
            type="text"
            formControlName="firstName"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>

    <div class="grid">
        <label
            for="lastName"
            class="block text-sm font-medium text-gray-700"
        >
            Nom
        </label>

        <input
            id="lastName"
            type="text"
            formControlName="lastName"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>

    <div class="grid">
        <label
            for="email"
            class="block text-sm font-medium text-gray-700"
        >
            Email
        </label>

        <input
            id="email"
            type="email"
            formControlName="email"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>

    <div class="grid">
        <label
            for="phone"
            class="block text-sm font-medium text-gray-700"
        >
            Téléphone
        </label>

        <input
            id="phone"
            type="text"
            formControlName="phone"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>

    <div class="grid">
        <label
            for="role"
            class="block text-sm font-medium text-gray-700"
        >
            Poste
        </label>

        <input
            id="role"
            type="text"
            formControlName="role"
            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
        >
    </div>
</form>
