<div class="flex-1 h-screen overflow-y-auto">
    <div class="flex-1 px-2">
        <div class="sm:mx-auto sm:w-full">
            <h2 class="flex items-center justify-center gap-2 text-2xl font-bold tracking-tight text-gray-900">
                <i-lucide [img]="iconHeader" class="size-8"></i-lucide>
                {{ labelHeader }}
            </h2>
        </div>

        <div class="mt-6 flex-1">
            <form
                [formGroup]="form"
                (ngSubmit)="update()"
            >
                <div class="space-y-4">

                    <div class="grid grid-cols-3 gap-4">
                        <label for="customer" class="block text-sm font-medium text-gray-700">
                            Client à livrer
                        </label>
                        <select
                            id="customer"
                            formControlName="customerId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (customer of customers; track customer.id) {
                                <option [ngValue]="customer.id">
                                    {{ customer.companyName }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="constructionSite" class="block text-sm font-medium text-gray-700">
                            Chantier
                        </label>
                        <select
                            id="constructionSite"
                            formControlName="constructionSiteId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (constructionSite of constructionSites; track constructionSite.id) {
                                <option [ngValue]="constructionSite.id">
                                    {{ constructionSite.companyName }} {{ constructionSite.street }} {{ constructionSite.cityName }}
                                    ({{ constructionSite.postalCode }}) - {{ constructionSite.countryCode }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="requestedDeliveryBegin" class="block text-sm font-medium text-gray-700">
                            Début de livraison souhaité
                        </label>
                        <input
                            id="requestedDeliveryBegin"
                            type="datetime-local"
                            formControlName="requestedDeliveryBegin"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="requestedDeliveryEnd" class="block text-sm font-medium text-gray-700">
                            Fin de livraison souhaité
                        </label>
                        <input
                            id="requestedDeliveryEnd"
                            type="datetime-local"
                            formControlName="requestedDeliveryEnd"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="quantityOrdered" class="block text-sm font-medium text-gray-700">
                            Quantité
                        </label>
                        <input
                            id="quantityOrdered"
                            type="number"
                            formControlName="quantityOrdered"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="product" class="block text-sm font-medium text-gray-700">
                            Produit
                        </label>
                        <select
                            id="product"
                            formControlName="productId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (product of products; track product.id) {
                                <option [ngValue]="product.id">
                                    {{ product.code }} - {{ product.name }}
                                </option>
                            }
                        </select>
                    </div>

                    <div class="grid grid-cols-3 gap-4">
                        <label for="sharedDetail" class="block text-sm font-medium text-gray-700">
                            Détails
                        </label>
                        <select
                            id="sharedDetail"
                            formControlName="sharedDetailsId"
                            class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        >
                            @for (sharedDetail of sharedDetails; track sharedDetail.id) {
                                <option [ngValue]="sharedDetail.id">
                                    {{ sharedDetail.fileName }} {{ sharedDetail.notes }}
                                </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="flex justify-end">
                    <app-submit-button [disabled]="form.invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>
