<div class="sticky top-0 h-16 sm:mx-auto sm:w-full border-e border-gray-200 bg-white shadow-sm z-10">
    <h2 class="flex items-center justify-center gap-2 text-2xl font-bold tracking-tight text-gray-900">
        <i-lucide [img]="iconHeader" class="size-8"></i-lucide>
        {{ labelHeader }}
    </h2>
</div>
<div class="mt-6 flex-1">
    <form
        [formGroup]="form"
        (ngSubmit)="create()"
    >
        <app-accordion-fom
            title="Donneur d'ordre"
            [(opened)]="statesPanel.parent.opened"
        >
            <ng-container slot="content">
                <label for="parent" class="block text-sm font-medium text-gray-700">
                    Donneur d'ordre
                </label>
                <select
                    id="parent"
                    formControlName="parentId"
                    class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                >
                    <option [ngValue]="null"></option>
                    @for (company of companies(); track company.id) {
                        <option [ngValue]="company.id">
                            {{company.companyName}} {{ company.cityName }} ({{ company.postalCode }}) - {{ company.countryCode }}
                        </option>
                    }
                </select>
            </ng-container>
        </app-accordion-fom>

        <app-accordion-fom
            title="Entreprise"
            [(opened)]="statesPanel.company.opened"
        >
            <ng-container slot="content">
                <label for="companyName" class="block text-sm font-medium text-gray-700">
                    Nom de l'entreprise
                </label>
                <input
                    id="companyName"
                    type="text"
                    formControlName="companyName"
                    class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
                >
                <label for="commerciallyActive" class="block text-sm font-medium text-gray-700">
                    Actif
                </label>
                <input
                    type="checkbox"
                    id="commerciallyActive"
                    formControlName="commerciallyActive"
                />
            </ng-container>
        </app-accordion-fom>

        <app-accordion-fom
            title="Adresse"
            [canCreate]="true"
            [(opened)]="statesPanel.address.opened"
            [(creating)]="statesPanel.address.create"
        >
            <ng-container slot="create">
                <app-address-form [(formAddress)]="formAddress"/>
            </ng-container>

            <ng-container slot="content">
                <label for="address" class="block text-sm font-medium text-gray-700">
                    Adresse
                </label>
                <select
                    id="address"
                    formControlName="addressId"
                    class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                >
                    <option [ngValue]="null"></option>
                    @for (address of addresses(); track address.id) {
                        <option [ngValue]="address.id">
                            {{ address.street }} - {{ address.cityName }} ({{ address.postalCode }}) - {{ address.countryCode }}
                        </option>
                    }
                </select>
            </ng-container>
        </app-accordion-fom>

        <app-accordion-fom
            title="Détails"
            [canCreate]="true"
            [(opened)]="statesPanel.sharedDetails.opened"
            [(creating)]="statesPanel.sharedDetails.create"
        >
            <ng-container slot="create">
                <app-shared-details-form [(formSharedDetails)]="formSharedDetails"/>
            </ng-container>

            <ng-container slot="content">
                <label for="sharedDetail" class="block text-sm font-medium text-gray-700">
                    Détails
                </label>
                <select
                    id="sharedDetail"
                    formControlName="sharedDetailsId"
                    class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                >
                    <option [ngValue]="null"></option>
                    @for (sharedDetail of sharedDetails(); track sharedDetail.id) {
                        <option [ngValue]="sharedDetail.id">
                            {{ sharedDetail.fileName}} {{ sharedDetail.notes}}
                        </option>
                    }
                </select>
            </ng-container>
        </app-accordion-fom>

        <app-submit-button [disabled]="form.invalid"/>
    </form>
</div>
