<p-table
  [value]="filteredOrders"
  [tableStyle]="{ 'min-width': '0rem' }"
  [scrollable]="true"
  scrollHeight="calc(100vh - 2rem)"
  [rowHover]="true"
  (onRowSelect)="onOrderSelected($event?.data)"
  selectionMode="single"
>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Client Facturation</th>
        <th>Client Livraison</th>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Date livraison</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
      <tr
        [class.preview-row]="currentCommand?.orderId === order.orderId"
        (click)="onOrderSelected(order)"
        style="cursor: pointer;"
      >
        <td>{{rowIndex + 1}}</td>
        <td>{{order.orderId}}</td>
        <td>{{order.billingCustomer?.company?.companyName}}</td>
        <td>{{order.deliveryCustomer?.company?.companyName}}</td>
        <td>{{order.product?.productCode}}</td>
        <td>{{order.quantityOrdered}}</td>
        <td>{{order.requestedDeliveryDate}}</td>
        <td>{{order.requestedDeliveryTime}}</td>

      </tr>
    </ng-template>
  </p-table>
