<div class="sticky top-0 z-50 bg-white border-b border-slate-200 shadow-sm px-4 py-3">
    <h2 class="flex items-center justify-center gap-3 text-xl font-semibold text-indigo-700">
        <i-lucide [img]="iconHeader" class="w-6 h-6 text-indigo-600"></i-lucide>
        {{ labelHeader }}
    </h2>
</div>

<div class="mt-6 flex-1">
    <form
        [formGroup]="form"
        (ngSubmit)="create()"
    >
        <div class="border border-slate-200 divide-y divide-slate-200 rounded-none">
            <app-section-fom
                [sectionForm]="sections.customer"
            >
                <ng-container slot="content">
                    <label for="customer" class="block text-sm font-medium text-slate-700">
                        Client à livrer
                    </label>
                    <select
                        id="customer"
                        formControlName="customerId"
                        class="mt-1 block w-full bg-white px-3 py-2 text-sm text-slate-900 border border-slate-300 outline-none focus:ring-4 focus:ring-indigo-200 focus:border-indigo-400 transition"
                    >
                        <option [ngValue]="null"></option>
                        @for (customer of customers(); track customer.id) {
                            <option [ngValue]="customer.id">
                                {{ customer.companyName }}
                            </option>
                        }
                    </select>
                </ng-container>
            </app-section-fom>

            <app-section-fom
                [sectionForm]="sections.address"
                (createConfig)="onSectionCreateModeChange($event)"
            >
                <ng-container slot="isNew">
                    <app-address-form [(formAddress)]="formAddress"/>
                </ng-container>
                <ng-container slot="content">
                    <select
                        id="address"
                        formControlName="addressId"
                        class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    >
                        @for (address of addresses(); track address.id) {
                            <option [ngValue]="address.id">
                                {{address.street}} - {{ address.cityName }} ({{ address.postalCode }}) - {{ address.countryCode }}
                            </option>
                        }
                    </select>
                </ng-container>
            </app-section-fom>

            <app-section-fom
                [sectionForm]="sections.contact"
                (createConfig)="onSectionCreateModeChange($event)"

            >
                <ng-container slot="isNew">

                </ng-container>
                <ng-container slot="content">
                    <select
                        id="contact"
                        formControlName="contactId"
                        class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300 border border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    >
                        <option [ngValue]=""></option>
                        @for (contact of contacts(); track contact.id) {
                            <option [ngValue]="contact.id">
                                {{ contact.firstName }} {{ contact.role }}
                            </option>
                        }
                    </select>
                </ng-container>
            </app-section-fom>

            <app-section-fom
                [sectionForm]="sections.sharedDetails"
                (createConfig)="onSectionCreateModeChange($event)"
            >
                <ng-container slot="isNew">
                    <app-shared-details-form [(formSharedDetails)]="formSharedDetails"/>
                </ng-container>
                <ng-container slot="content">
                    <select
                        id="sharedDetail"
                        formControlName="sharedDetailsId"
                        class="mt-1 block w-full bg-white px-3 py-2 text-sm text-slate-900 border border-slate-300 outline-none focus:ring-4 focus:ring-indigo-200 focus:border-indigo-400 transition"
                    >
                        <option [ngValue]="null"></option>
                        @for (sharedDetail of sharedDetails(); track sharedDetail.id) {
                            <option [ngValue]="sharedDetail.id">
                                {{ sharedDetail.fileName}} {{ sharedDetail.notes}}
                            </option>
                        }
                    </select>
                </ng-container>
            </app-section-fom>
        </div>

        <div class="flex justify-end">
            <app-submit-button [disabled]="form.invalid"/>
        </div>
    </form>
</div>
