<div class="flex-1 h-screen overflow-y-auto pb-8">

  <app-progress-bar-vertical
    [data]="formData"
    [excludeKeys]="excludedFields"
  />

  <div class="flex-1 px-2">
    <div class="sm:mx-auto sm:w-full">
      <h2 class="flex items-center justify-center gap-2 text-2xl font-bold tracking-tight text-gray-900">
        <i-lucide [img]="UserRoundPlus" class="size-8"></i-lucide>
        Nouveau contact
      </h2>
    </div>

    <div class="mt-6 flex-1">
      <form [formGroup]="contactForm" class="space-y-8">
        <div class="space-y-4">
          <div class="grid grid-cols-3 gap-4">
            <label
              for="firstName"
              class="block text-sm font-medium text-gray-700"
            >
              Prénom
            </label>

            <input
              id="firstName"
              type="text"
              formControlName="firstName"
              class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
            >
          </div>

          <div class="grid grid-cols-3 gap-4">
            <label
              for="lastName"
              class="block text-sm font-medium text-gray-700"
            >
              Nom
            </label>

            <input
              id="lastName"
              type="text"
              formControlName="lastName"
              class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
            >
          </div>

          <div class="grid grid-cols-3 gap-4">
            <label
              for="email"
              class="block text-sm font-medium text-gray-700"
            >
              Email
            </label>

            <input
              id="email"
              type="email"
              formControlName="email"
              class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
            >
          </div>

          <div class="grid grid-cols-3 gap-4">
            <label
              for="phone"
              class="block text-sm font-medium text-gray-700"
            >
              Téléphone
            </label>

            <input
              id="phone"
              type="text"
              formControlName="phone"
              class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
            >
          </div>

          <div class="grid grid-cols-3 gap-4">
            <label
              for="role"
              class="block text-sm font-medium text-gray-700"
            >
              Poste
            </label>

            <input
              id="role"
              type="text"
              formControlName="role"
              class="mt-1 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 outline-gray-300"
            >
          </div>
        </div>

        <div class="flex justify-end">
          <button type="submit"
                  [disabled]="contactForm.invalid"
                  (click)="onSubmit()"
                  class="mt-4 mr-2 rounded-md bg-indigo-600 px-4 py-2 text-white font-semibold shadow hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-50 disabled:cursor-not-allowed">
            Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
