
/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

nav a {
  color: var(--color-text);
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
}

nav a:hover {
  color: var(--color-text-over);
  background-color: #1abc9c; /* Couleur d'accent verte */
  border-radius: 5px;
}

nav a.active {
  font-weight: bold;
  border-radius: 5px;
}
