nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  font-size: 1rem;        /* Même taille */
  font-weight: 500;       /* Même poids */
  border-radius: 5px;
  color: var(--color-text);            /* Texte blanc comme les boutons */
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  background-color: var(--color-box);
  color: var(--color-text-over);
}

nav a.active {
  font-weight: 600;
  background-color: var(--color-box-dark);
  color: var(--color-text-over);
}
