<div class="flex-1 h-screen overflow-y-auto">
    <div class="flex-1 px-2">
        <div class="sm:mx-auto sm:w-full">
            <h2 class="flex items-center justify-center gap-2 text-2xl font-bold tracking-tight text-gray-900">
                <i-lucide [img]="iconHeader" class="size-8"></i-lucide>
                {{ labelHeader }}
            </h2>
        </div>

        <div class="mt-6 flex-1">
            <form
                [formGroup]="form"
                (ngSubmit)="update()"
            >

                <app-address-form [(formAddress)]="form"/>

                <div class="flex justify-end">
                    <app-submit-button [disabled]="form.invalid"/>
                </div>
            </form>
        </div>
    </div>
</div>
