<div class="card">
  <p-selectbutton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="value" />
  <p-table
    #dt
    [value]="deliveries"
    [columns]="columns"
    [rows]="100"
    [rowsPerPageOptions]="[100, 250, 500]"
    [globalFilterFields]="[
      'deliveryId',
      'order.product.productCode',
      'order.quantityOrder',
      'transportSupplier.company.name',
      'actualDeliveryDate',
      'quantityDelivery',
    ]"
    [loading]="loading"
    stripedRows
    selectionMode="multiple"
    [(selection)]="selectedDeliveries"
    [metaKeySelection]="metaKey"
    dataKey="deliveryId"
    paginator="true"
    responsiveLayout="scroll"
    [tableStyle]="{'min-width':'0rem'}"
    [size]="selectedSize"
  >



    <!-- Zone pour filtres -->
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <p-button icon="pi pi-filter-slash" (click)="clear(dt)" />
        <p-date-picker
          [(ngModel)]="actualDeliveryDateFilter"
          [showIcon]="true"
          (onSelect)="dt.filter(actualDeliveryDateFilter, 'actualDeliveryDate', 'equals')"
          dateFormat="yy-mm-dd">
        </p-date-picker>
        <p-multiselect
          [options]="statuses"
          [(ngModel)]="statusFilter"
          placeholder="Filtrer par statut"
          (onChange)="statusFilter && statusFilter.length ? dt.filter(statusFilter, 'status.status', 'in') : dt.clear()">
        </p-multiselect>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="applyGlobalFilter($event)"
            placeholder="Rechercher..."
          />
        </span>
      </div>
    </ng-template>

    <!-- En-tête du tableau -->
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.header }}" >
          {{ col.header }}
          <p-sortIcon field="{{ col.header }}"></p-sortIcon>
        </th>


        <th pSortableColumn="deliveryId">ID <p-sortIcon field="deliveryId"></p-sortIcon></th>
        <th pSortableColumn="order.product.productCode">Code Produit <p-sortIcon field="order.product.productCode"></p-sortIcon></th>
        <th pSortableColumn="order.quantityOrdered">Quantité Commandée <p-sortIcon field="order.quantityOrdered"></p-sortIcon></th>
        <th pSortableColumn="actualDeliveryDate">Date de Livraison <p-sortIcon field="actualDeliveryDate"></p-sortIcon></th>
        <th pSortableColumn="transportSupplier.company.companyName">Transporteur <p-sortIcon field="transportSupplier.company.companyName"></p-sortIcon></th>
        <th pSortableColumn="quantity">Quantité Livrée <p-sortIcon field="quantity"></p-sortIcon></th>
        <th pSortableColumn="status.status">Statut <p-sortIcon field="status.status"></p-sortIcon></th>

      </tr>
    </ng-template>

    <!-- Corps du tableau -->
    <ng-template pTemplate="body" let-delivery let-rowIndex="rowIndex">
      <tr [pSelectableRow]="delivery" [pSelectableRowIndex]="rowIndex">
        <td>{{ delivery.deliveryId }}</td>
        <td>{{ delivery?.order?.product?.productCode }}</td>
        <td>{{ delivery?.order?.quantityOrdered }}</td>
        <td>{{ delivery?.actualDeliveryDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ delivery?.transportSupplier?.company?.companyName }}</td>
        <td>{{ delivery?.quantity }}</td>
        <td>{{ delivery.status?.status }}</td>
      </tr>
    </ng-template>

    <!-- Message tableau vide -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="text-center">Aucune livraison trouvée.</td>
      </tr>
    </ng-template>

  </p-table>
</div>
